doctype html
html(lang='en')
  head
    title Hugo theme
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet", href="styles/style.css")
    
  body
    header.container-fluid
      nav.navbar.navbar-light.bg-light.fixed-top.top_menu
        .container.top_menu_container.i_p0
          .col.d-flex.top_menu_social
            a(href="#").fa.fa-twitter
            a(href="#").fa.fa-facebook
            a(href="#").fa.fa-cloud
          .col.d-flex.top_menu_logo
            a(href="#")
              img(src="img/logo.png", alt="LOGO")
          .col.d-flex.top_menu_button
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
              i.fa.fa-bars.fa-lg(aria-hidden='true')
      #navbarToggleExternalContent.collapse.fixed-top
        .bg-light
          ul.nav.flex-column.justify-content-center.align-items-center.menu_list
            li.nav-item
              a.nav-link.active(href='#') Listen Album
            li.nav-item
              a.nav-link(href='#') Watch Video
            li.nav-item
              a.nav-link(href='#') Follow!
    section.half_section.container-fluid.album_section
      .container.wide_container.i_p0
        .row
          article.col-sm-12.col-md-6.d-flex.i_pad
            .mini_container.d-flex.flex-column
              h2 Featured Album
              p
                | Check out my newest Music Albums. You can easily purchase our music albums or gifts for your friends via 
                a(href='#') iTunes
                |  or  
                a(href='#') Google Play
              .apple_google.d-flex
                a(href="#")
                  img(src="img/apple.png", alt="Apple Store")
                a(href="#")
                  img(src="img/google.png", alt="Google Market")
          .col-sm-12.col-md-12.col-lg-6.album_container.i_p0.i_pad
            .album_container_cover.d-flex
              .album_pic
    section.half_section.container-fluid.video_section
      .container.wide_container.i_p0
        .row
          .col-sm-12.col-md-12.col-lg-6.album_container.i_p0.i_pad
          article.col-sm-12.col-md-6.d-flex.i_pad
            .mini_container.d-flex.flex-column
              h2 The Beat (Official&nbsp;MV)
              p
                | Music video by Mirotic Artist performing The Beat. Available now on iTunes: 
                a(href='#') http://smarturl.it/HiTunes?IQid=yt 
                br
                |  (c) 2015 DZOAN Entertainment International Limited.
              
              .follow_us.d-flex.flex-column
                h4 Follow Us!
                .follow_us_links.d-flex
                  a(href="#") Facebook
                  a(href="#") Twitter
                  a(href="#") Youtube
                  a(href="#") Vimeo
    section.half_section.container-fluid.event_section
      .container.wide_container.i_p0
        .row
          .col-sm-12.col-md-12.col-lg-6.d-flex.event_half_section.i_p0.justify-content-end
            .event_half_section_subcontainer.d-flex
              .event_time.d-flex.flex-column
                span.event_time_header Next Event In:
                span.event_time_capture
                  i.fa.fa-clock-o(aria-hidden='true')
                  |  &nbsp;Jan 6, 2014 in Times Square, New York, USA.
              .time_block.d-flex
                span.number 25
                span.text Days
          .col-sm-12.col-md-12.col-lg-6.d-flex.event_half_section.i_p0.timer_div
            .event_half_section_subcontainer.d-flex
              .time_block.d-flex
                span.number 16
                span.text Hours
              .time_block.d-flex
                span.number 48
                span.text Minutes
              .time_block.d-flex
                span.number 16
                span.text Seconds
    section.half_section.container-fluid.instagram.d-flex
      .container.wide_container.i_p0
        .row.insta_row
          .col-sm-12.col-md-12.col-lg-12.d-flex.col-xl-6.i_p0.flex-wrap
            .col.insta_block.i_instimg1
            .col.insta_block.i_instimg2
            .col.insta_block.i_instimg3
          .col-sm-12.col-md-12.col-lg-12.d-flex.col-xl-6.i_p0.flex-wrap
            .col.insta_block.i_instimg4
            .col.insta_block.i_instimg5
            .col.insta_block.i_instimg6
          .col-sm-12.col-md-12.col-lg-12.col-xl-6.i_p0.flex-wrap.d-none.d-xl-flex
            .col.insta_block.i_instimg7
            .col.insta_block.i_instimg8
            .col.insta_block.i_instimg9
          .col-sm-12.col-md-12.col-lg-12.col-xl-6.i_p0.flex-wrap.d-none.d-xl-flex
            .col.insta_block.i_instimg10
            .col.insta_block.i_instimg11
            .col.insta_block.i_instimg12
          .cover_block.d-flex
            a(href="#").insta_cover.d-flex.flex-column.justify-content-center.align-items-center
              i.fa.fa-instagram.fa-3x
              span Instagram
    footer.container-fluid.d-flex
      .container.i_p0.d-flex.align-items-center
        .col.d-flex.footer_logo.align-items-center
          a(href="#")
            img(src="img/logo-grey.png", alt="LOGO")
          span © 2017 HUGO. All rights resevered. Designed by DZOAN. Coded by @iceone_ninja
        .col.d-flex.footer_social
          a(href="#").fa.fa-twitter
          a(href="#").fa.fa-facebook
          a(href="#").fa.fa-cloud











    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://use.fontawesome.com/8796be80e5.js')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
