// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)
  header
    background-size: 90%, cover

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)
  header
    background-size: 90%, cover
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)
  header
    background-size: 90%, cover
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)
  header
    background: url(../img/fjump.png) no-repeat center 350px, url(../img/header.jpg) no-repeat center 80px 

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
  header
    background-size: 60%, cover
