@import 'fonts'
@import 'variables'



// COMMON=============================================
body
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 360px
.container
  max-width: 1200px
.wide_container
  max-width: 1440px
.i_p0
  padding: 0
h2
  font-family: Roboto
  color:  $h2-color
  font-size: 48px
  font-weight: 100
  line-height: 30px
  text-align: left
p
  font-family: Roboto, sans-serif
  color:  $p-color
  font-size: 18px
  font-weight: 300
  line-height: 30px
  text-align: left
.row
  margin: 0
// HEADER=============================================
header
  background: url(../img/fjump.png) no-repeat center, url(../img/header.jpg) no-repeat center 80px
  background-size: 70%, cover
  min-height: 900px
  & nav //NAV
    height: 80px

.top_menu
  &_container
  justify-content: space-between
  &_social
    justify-content: flex-start
    & a
      text-decoration: none
      color: $nav-color
      padding-right: 29px
      &:hover, &:active
      text-decoration: none
      &:hover
        color: $link-hover-color
  &_logo
    justify-content: center
  &_button
    justify-content: flex-end
    & i
      color: $nav-color
#navbarToggleExternalContent
  margin-top: 80px

// ALBUM SECTION=============================================
.half_section article
  max-width: 720px
  min-height: 480px
  flex-direction: column
  padding: 60px 88px 30px 7vw
  justify-content: center
  align-items: end
  & p
    padding: 32px 15px 38px 5px
.apple_google
  & a:first-child
    padding-left: 4px
  & a
    padding-right: 10px


.album_container
  background: url(../img/webwill.png) no-repeat
  background-size: cover
  min-height: 480px
  &_cover
    background-color: $cover-color
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
.album_pic
  min-width: 370px
  height: 270px
  background: url(../img/beat.png) no-repeat left, url(../img/disc.png) no-repeat right
  margin-left: 60px

// VIDEO SECTION=============================================
.video_section article p
  margin-bottom: 0
  padding-left: 0
.follow_us h4
  font-size: 14px
  font-family: "Roboto", sans-serif
  color: $h4-color
  font-weight: bold
  line-height: 1.714
  text-align: left
.follow_us a
  font-size: 14px
  font-family: "Roboto",sans-serif
  color: $h4-color
  line-height: 1.1
  text-align: left
  padding: 0 8px 0
  border-right: 2px solid #c7c7c7
  &:first-child
    padding-left: 0
  &:last-child
    border: none
.follow_us_links
  height: 15px
// EVENT SECTION=============================================
.event_section
  min-height: 321px
  & .wide_container, & .row, & .event_half_section
    min-height: 321px
.event_half_section
  justify-content: flex-start
  align-items: center
.event_half_section_subcontainer
  min-height: 107px
  flex-basis: 600px
  justify-content: space-around
  & .event_time
    height: 107px
    flex-basis: 385px
    justify-content: space-between
    align-items: flex-start
    & .event_time_capture
      font-family: Roboto
      color:  $p-color
      font-size: 18px
      font-weight: 300
      text-align: left
      padding-top: 34px
    & .event_time_header
      font-family: Roboto
      color:  $h2-color
      font-size: 48px
      font-weight: 100
      line-height: 30px
      text-align: left
      margin-top: 26px
.time_block
  height: 107px
  width: 170px
  flex-direction: column
  justify-content: space-between
  align-items: center
  & .number
    font-family: Roboto
    color:  $h2-color
    font-size: 48px
    font-weight: 100
    line-height: 30px
    text-align: left
    margin-top: 26px
  & .text
    font-family: Roboto
    color:  $p-color
    font-size: 16px
    font-weight: 300
    text-align: center
    padding-top: 33px
// INSTAGRAM SECTION=============================================
.instagram
  height: 480px
  overflow: hidden
.i_divider
  height: 0
.insta_block
  width: 240px
  height: 240px
  padding: 0px
  // background-image: url(../img/Layer_3.png)
  background-size: cover
.insta_row
  position: relative
.cover_block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  justify-content: center
  align-content: center
  align-items: center
.insta_cover
  width: 320px
  height: 180px
  background: rgb(51,89,172) //Old browsers
  background: -moz-linear-gradient(left, rgba(51,89,172,1) 0%, rgba(27,162,217,1) 100%)//FF3.6-15
  background: -webkit-linear-gradient(left, rgba(51,89,172,1) 0%,rgba(27,162,217,1) 100%)//Chrome10-25,Safari5.1-6
  background: linear-gradient(to right, rgba(51,89,172,1) 0%,rgba(27,162,217,1) 100%)//W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3359ac', endColorstr='#1ba2d9',GradientType=1 )
  &>*
    font-size: 48px
    font-family: "Roboto", sans-serif
    color: #ffffff
    line-height: 30px
    text-align: center
    font-weight: 100
  & i
    margin-bottom: 28px
  &:hover
    text-decoration: none

@for $i from 1 to 13
  .i_instimg#{$i}
    background-image: url(../img/Layer_#{$i}.png)

//FOOTER
footer
  height: 80px
  justify-content: space-between
  & .container
    height: 80px
  & .footer_logo
    flex-grow: 2
.footer_logo
  & a
    margin-right: 64px
  & span
    font-family: Roboto, sans-serif
    color:  $p-color
    font-size: 14px
    font-weight: 300
    line-height: 30px
    text-align: center
.footer_social
  justify-content: flex-end
  & a
    text-decoration: none
    color: $p-color
    padding-right: 29px
    &:hover, &:active
      text-decoration: none
    &:hover
      color: $link-hover-color

// MEDIA
@import 'media'



