@import 'fonts'
@import 'variables'


// COMMON
body
  display: flex
  flex-direction: column
  justify-content: center

// HEADER
header
  background: url(../img/fjump.png) no-repeat center 65% fixed, url(../img/header.jpg) no-repeat fixed
  background-size: 60%, cover
  height: 820px




