@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700; }
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 360px; }

.container {
  max-width: 1200px; }

.wide_container {
  max-width: 1440px; }

.i_p0 {
  padding: 0; }

h2 {
  font-family: Roboto;
  color: #242424;
  font-size: 48px;
  font-weight: 100;
  line-height: 30px;
  text-align: left; }

p {
  font-family: Roboto, sans-serif;
  color: #959595;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left; }

header {
  background: url(../img/fjump.png) no-repeat center, url(../img/header.jpg) no-repeat center 80px;
  background-size: 70%, cover;
  min-height: 900px; }
  header nav {
    height: 80px; }

.top_menu {
  justify-content: space-between; }
  .top_menu_social {
    justify-content: flex-start; }
    .top_menu_social a {
      text-decoration: none;
      color: #252525;
      padding-right: 29px;
      text-decoration: none; }
      .top_menu_social a:hover {
        color: #374290; }
  .top_menu_logo {
    justify-content: center; }
  .top_menu_button {
    justify-content: flex-end; }
    .top_menu_button i {
      color: #252525; }

#navbarToggleExternalContent {
  margin-top: 80px; }

.half_section article {
  max-width: 720px;
  min-height: 480px;
  flex-direction: column;
  padding: 133px 88px 30px 85px; }
  .half_section article p {
    padding: 32px 15px 38px 5px; }

.apple_google a:first-child {
  padding-left: 4px; }
.apple_google a {
  padding-right: 10px; }

.album_container {
  background: url(../img/webwill.png) no-repeat;
  background-size: cover;
  min-height: 480px; }
  .album_container_cover {
    background-color: rgba(25, 49, 75, 0.8);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }

.album_pic {
  min-width: 370px;
  height: 270px;
  background: url(../img/beat.png) no-repeat left, url(../img/disc.png) no-repeat right;
  margin-left: 60px; }

.video_section article {
  padding: 133px 55px 30px 112px; }
  .video_section article p {
    margin-bottom: 0; }

.follow_us h4 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-weight: bold;
  line-height: 1.714;
  text-align: left; }

.follow_us a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #959595;
  line-height: 1.714;
  text-align: left; }

@media only screen and (max-width: 575px) {
  header {
    background-size: 90%, cover; }

  .featured_album article {
    padding: 70px 35px 30px; }

  h2 {
    line-height: 50px; }

  .top_menu_social a {
    padding-right: 15px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header {
    background-size: 90%, cover; } }
@media only screen and (min-width: 768px) and (max-width: 790px) {
  .i_pad {
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (min-width: 791px) and (max-width: 991px) {
  header {
    background-size: 90%, cover; }

  h2 {
    line-height: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    background: url(../img/fjump.png) no-repeat center 350px, url(../img/header.jpg) no-repeat center 80px; }

  h2 {
    line-height: 50px; } }
@media only screen and (min-width: 1200px) {
  header {
    background-size: 60%, cover; } }

/*# sourceMappingURL=style.css.map */
